[submodule "cf-install"]
	path = cf-install
	url = git@github.com:cloudfoundry-community/terraform-aws-cf-install.git
[submodule "ansible-dp2"]
	path = ansible-dp2
	url = git@github.com:intel-data/ansible-dp2.git
[submodule "cdh"]
	path = cdh
	url = git@github.com:intel-data/terraform-aws-cdh.git
