[submodule "cf-install"]
	path = cf-install
	url = git@github.com:intel-data/terraform-aws-cf-install.git
[submodule "platform-ansible"]
	path = platform-ansible
	url = git@github.com:intel-data/platform-ansible.git
[submodule "cdh"]
	path = cdh
	url = git@github.com:intel-data/terraform-aws-cdh.git
