# Change needed

aws_access_key = "YOUR-AWS-KEY"
aws_secret_key = "YOUR-AWS-SECRET"
cf_admin_pass = "PUT-YOUR-PASSWORD-HERE"

# Default values, may be changed if needed

aws_key_path = "~/.ssh/bosh.pem"
aws_key_name = "bosh"
aws_region = "us-west-1"
network = "10.10"
cf_size = "tiny"
hadoop_worker_count = "3"
hadoop_instance_type = "m3.xlarge"

# tag values, key order: Project,IAP,Environment
aws_tags = "Foo Bar,00000,Development"
cf_domain="XIP" # Use "XIP" for an xip.io based domain, or provide your own domain here

# Prevent Host Header spoofing from hitting internal APIs:
private_cf_domains="xip.internal"

# Control the cloudfoundry deployment size
# Values are 'small', 'med', 'med-ha', and 'big-ha'
# See https://github.com/cloudfoundry-community/terraform-aws-cf-install/blob/master/variables.tf for how
# those sizes inform instance counts

deployment_size="small"
install_docker_services="true"
install_logsearch="false"

# Expert only! Do not change if unsure

# Control the version of CF to be deployed
cf_release_version="211"

# Control the version of the CF boshworkspace
cf_boshworkspace_version="master"
