aws_key_name="YOUR-AWS-SSH-KEY"
aws_access_key="YOUR-AWS-KEY"
aws_secret_key="YOUR-AWS-SECRET"
aws_vpc_id="YOUR-VPC-ID"
aws_region="YOUR-AWS-REGION"
aws_route_table_private_id="ID-OF-NAT-ROUTE-TABLE"
bastion_subnet_cidr="CIDR-OF-BASTION-SUBNET"
cdh_cidr="CIDR-OF-CDH-SUBNET"
cf_subnet_a_cidr="CIDR-OF-CF-SUBNETA"
cf_subnet_b_cidr="CIDR-OF-CF-SUBNETB"
db-lb_cidr="CIDR-OF-DBLB"
mysql-cluster_backup_fs_size="250" #in GB
mysql-cluster_backup_instance_type="m3.xlarge"
mysql-cluster_db_fs_size="100"
mysql-cluster_db_instance_type="r3.large"
mysql-cluster_size="small" #possible values: none, small - please see variables.tf
network="10.10" #first two octets of ip range in your vpc
tags_Environment="YOUR-ENV-NAME"
tags_IAP="YOUR-IAP"
tags_Project="YOUR-PROJECT"
